$mobile-device: 1200px;
$text-color: #000;
$big-text: 32px;


$theme-color: #9DDBF8;
$hover-color: rgb(157, 219, 248, 0.8);

$active-color: #F7AB60;
$light-activate-color: rgba(247, 171, 96, 0.8);

$skyblue-color: #548DD4;
$skyblue-hover-color: rgb(84, 141, 212, 0.8);

$item: 15;
$button: #bdefe7; 
$shadow: #63bdad; 
